# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# data and cmake
build/*
./build/*
*/data/*
./data/*
.vscode/launch.json
.vscode/launch.json
.vscode/*
Project/Bonus/.venv/*
Project/data/*
Project/data/build/*
Project/thetas.txt
Project/thetasHisto.csv